/******************************************************************************/
/* 969																		  */
/******************************************************************************/

@media only screen and (max-width:969px)
{
	/**************************************************************************/
	/* Layouts																  */
	/**************************************************************************/

		/**********************************************************************/
		/* Layout 50x50 (in percentage)										  */
		/**********************************************************************/

		.layout-p-50x50>.column-left,
		.layout-p-50x50>.column-right,
		.layout-p-33x33x33>.column-left,
		.layout-p-33x33x33>.column-right,
		.layout-p-33x33x33>.column-center,
		.layout-p-25x25x25x25>.column-left,
		.layout-p-25x25x25x25>.column-center-left,
		.layout-p-25x25x25x25>.column-center-right,
		.layout-p-25x25x25x25>.column-right,
		.layout-p-66x33>.column-left,
		.layout-p-66x33>.column-right,
		.layout-p-33x66>.column-left,
		.layout-p-33x66>.column-right 
		{ 
			width:100%;
			clear:both;
			float:none;
			margin-bottom:40px;
		}	

	/**************************************************************************/
	/* Page list															  */
	/**************************************************************************/

		ul.page-list>li.half-width
		{
			display:block;
		}

		li.half-width+li.half-width
		{
			margin-left:0px;
		}

	/**************************************************************************/
	/* Accordion															  */
	/**************************************************************************/

	.layout-p-50x50>.column-right>.nostalgia-accordion
	{
		margin-top:40px;
	}
}

/******************************************************************************/
/* 767																		  */
/******************************************************************************/

@media only screen and (max-width:767px)
{
	/**************************************************************************/
	/* Twitter Carousel														  */
	/**************************************************************************/

		.twitter-carousel,
		.twitter-carousel ul,
		.twitter-carousel ul li,
		.twitter-carousel ul li p
		{
			height:120px;
		}

	/**************************************************************************/
	/* Click here															  */
	/**************************************************************************/

	.click-here
	{
		top:-35px;
		left:0px;
		width:95px;
		height:31px;
		background-image:url('../media/image/public/click_here_arrow_small.png');
	}

	/**************************************************************************/
	/* Button																  */
	/**************************************************************************/

	a.link-button
	{
		margin-top:10px;
	}

	/**************************************************************************/
	/* Header																  */
	/**************************************************************************/

	.page-header *
	{
		/*float:right;*/
		margin-bottom:2px;
	}

	/**************************************************************************/
	/* Contact details														  */
	/**************************************************************************/

	div.contact-details-box .layout-p-50x50>.column-right
	{
		margin-top:10px;
	}
}

/******************************************************************************/
/* 479																	  	  */
/******************************************************************************/

@media only screen and (max-width:479px)
{
	/**************************************************************************/
	/* Page list															  */
	/**************************************************************************/

		ul.page-list>li.half-width
		{
			width:300px;
		}	

	/**************************************************************************/
	/* Main																	  */
	/**************************************************************************/

	div.main
	{
		width:300px;
	}

	div.main-body
	{
		margin-left:-150px;
	}

	/**************************************************************************/
	/* Testimonial															  */
	/**************************************************************************/

	ul.testimonial-list li div span.testimonial-list-caption
	{
		float:left;
	}
}

/******************************************************************************/
/* 480-767																  	  */
/******************************************************************************/

@media only screen and (min-width:480px) and (max-width:767px)
{
	/**************************************************************************/
	/* Page list															  */
	/**************************************************************************/

		ul.page-list>li.half-width
		{
			width:460px;
		}

	/**************************************************************************/
	/* Main																	  */
	/**************************************************************************/

	div.main
	{
		width:460px;
	}

	div.main-body
	{
		margin-left:-230px;
	}
}

/******************************************************************************/
/* 480-969																  	  */
/******************************************************************************/

@media only screen and (min-width:480px) and (max-width:969px)
{

}

/******************************************************************************/
/* 768-969																  	  */
/******************************************************************************/

@media only screen and (min-width:768px) and (max-width:969px)
{

	/**************************************************************************/
	/* Page list															  */
	/**************************************************************************/

		ul.page-list>li.half-width
		{
			width:750px;
		}

	/**************************************************************************/
	/* Main																	  */
	/**************************************************************************/

	div.main
	{
		width:750px;
	}

	div.main-body
	{
		margin-left:-375px;
	}

	/**************************************************************************/
	/* Contact details														  */
	/**************************************************************************/

	div.contact-details-box .layout-p-50x50>.column-left,
	div.contact-details-box .layout-p-50x50>.column-right
	{
		width:48%;
	}

	div.contact-details-box .layout-p-50x50>.column-left 
	{
		float:left;
	}

	div.contact-details-box .layout-p-50x50>.column-right 
	{ 
		float:right; 
	}
}