
body
{
	background-color:#000000;
	background-repeat:no-repeat;
}

a,
body,
input,
label,
textarea,
.nostalgia-accordion.ui-widget,
.nostalgia-accordion.ui-widget p
{
	font-family:'Arial';
	font-style:normal;
	font-weight:normal;
}

h1,
h1 a
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

h2,
h2 a
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

h3,
h3 a
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

h4,
h4 a
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

h5,
h5 a,
ul.feature-list-1 li .icon-1,
ul.feature-list-1 li .icon-2,
ul.feature-list-2 li .icon-1,
ul.feature-list-2 li .icon-2
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

h6,
h6 a
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

div.subheader
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

.link-button
{
	font-family:'Dosis';
	font-style:normal;
	font-weight:normal;
}

.page-schema-116
{
	background-color:rgba(99,208,230,1);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff63d0e6,endColorstr=#ff63d0e6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff63d0e6,endColorstr=#ff63d0e6);
}

.page-schema-116>div
{
	padding-top:40px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:40px;
}
@media only screen  and (max-width:479px)
{

.page-schema-116>div
{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
}


.page-schema-116>div ,
.page-schema-116>div .nostalgia-accordion.ui-widget,
.page-schema-116>div .nostalgia-accordion.ui-widget p
{
	color:#222222;
}

.page-schema-116 h1,
.page-schema-116 h2,
.page-schema-116 h3,
.page-schema-116 h4,
.page-schema-116 h5,
.page-schema-116 h6,
.page-schema-116 h1 a,
.page-schema-116 h2 a,
.page-schema-116 h3 a,
.page-schema-116 h4 a,
.page-schema-116 h5 a,
.page-schema-116 h6 a
{
	color:#FFFFFF;
}

.page-schema-7
{
	min-height:298px;
	background-color:rgba(34,34,34,1);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff222222,endColorstr=#ff222222);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff222222,endColorstr=#ff222222);
}

.page-schema-7>div
{
	padding-top:40px;
	padding-left:40px;
	padding-right:40px;
	padding-bottom:40px;
}
@media only screen  and (max-width:479px)
{

.page-schema-7>div
{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
}


.page-schema-7>div ,
.page-schema-7>div .nostalgia-accordion.ui-widget,
.page-schema-7>div .nostalgia-accordion.ui-widget p
{
	color:#FFFFFF;
}

.page-schema-7 h1,
.page-schema-7 h2,
.page-schema-7 h3,
.page-schema-7 h4,
.page-schema-7 h5,
.page-schema-7 h6,
.page-schema-7 h1 a,
.page-schema-7 h2 a,
.page-schema-7 h3 a,
.page-schema-7 h4 a,
.page-schema-7 h5 a,
.page-schema-7 h6 a
{
	color:#FFFFFF;
}

.page-schema-5
{
	background-color:transparent;
}

.page-schema-5>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
@media only screen  and (max-width:479px)
{

.page-schema-5>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
}


.page-schema-5>div ,
.page-schema-5>div .nostalgia-accordion.ui-widget,
.page-schema-5>div .nostalgia-accordion.ui-widget p
{
	color:#222222;
}

.page-schema-5 h1,
.page-schema-5 h2,
.page-schema-5 h3,
.page-schema-5 h4,
.page-schema-5 h5,
.page-schema-5 h6,
.page-schema-5 h1 a,
.page-schema-5 h2 a,
.page-schema-5 h3 a,
.page-schema-5 h4 a,
.page-schema-5 h5 a,
.page-schema-5 h6 a
{
	color:#FFFFFF;
}

.page-schema-148
{
	min-height:100px;
	background-color:rgba(99,208,230,0);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#063d0e6,endColorstr=#063d0e6);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#063d0e6,endColorstr=#063d0e6);
}

.page-schema-148>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
@media only screen  and (max-width:479px)
{

.page-schema-148>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
}


.page-schema-148>div ,
.page-schema-148>div .nostalgia-accordion.ui-widget,
.page-schema-148>div .nostalgia-accordion.ui-widget p
{
	color:#ffffff;
}

.page-schema-148 h1,
.page-schema-148 h2,
.page-schema-148 h3,
.page-schema-148 h4,
.page-schema-148 h5,
.page-schema-148 h6,
.page-schema-148 h1 a,
.page-schema-148 h2 a,
.page-schema-148 h3 a,
.page-schema-148 h4 a,
.page-schema-148 h5 a,
.page-schema-148 h6 a
{
	color:#ffffff;
}

.page-schema-6
{
	background-color:transparent;
}

.page-schema-6>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
@media only screen  and (max-width:479px)
{

.page-schema-6>div
{
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
}


.page-schema-6>div ,
.page-schema-6>div .nostalgia-accordion.ui-widget,
.page-schema-6>div .nostalgia-accordion.ui-widget p
{
	color:#222222;
}

.page-schema-6 h1,
.page-schema-6 h2,
.page-schema-6 h3,
.page-schema-6 h4,
.page-schema-6 h5,
.page-schema-6 h6,
.page-schema-6 h1 a,
.page-schema-6 h2 a,
.page-schema-6 h3 a,
.page-schema-6 h4 a,
.page-schema-6 h5 a,
.page-schema-6 h6 a
{
	color:#FFFFFF;
}

ul.page-list>li
{
	margin-top:40px;
}

ul.page-list>li:first-child
{
	margin-top:40px;
}

ul.page-list
{
	margin-bottom:40px;
}

a,
body,
input,
label,
textarea,
.nostalgia-accordion.ui-widget,
.nostalgia-accordion.ui-widget p
{
	font-size:14px;
}

h1,
h1 a
{
	font-size:70px;
}

h2,
h2 a
{
	font-size:60px;
}

h3,
h3 a
{
	font-size:30px;
}

h4,
h4 a
{
	font-size:20px;
}

h5,
h5 a
{
	font-size:18px;
}

h6,
h6 a
{
	font-size:14px;
}

div.subheader,
div.subheader b,
div.subheader strong
{
	font-size:24px;
}

a.link-button
{
	font-size:30px;
}
@media only screen  and (min-width:768px) and (max-width:969px)
{

a,
body,
input,
label,
textarea,
.nostalgia-accordion.ui-widget,
.nostalgia-accordion.ui-widget p
{
	font-size:14px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h1,
h1 a
{
	font-size:60px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h2,
h2 a
{
	font-size:50px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h3,
h3 a
{
	font-size:28px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h4,
h4 a
{
	font-size:20px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h5,
h5 a
{
	font-size:18px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

h6,
h6 a
{
	font-size:14px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

div.subheader,
div.subheader b,
div.subheader strong
{
	font-size:22px;
}
}

@media only screen  and (min-width:768px) and (max-width:969px)
{

a.link-button
{
	font-size:26px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

a,
body,
input,
label,
textarea,
.nostalgia-accordion.ui-widget,
.nostalgia-accordion.ui-widget p
{
	font-size:14px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h1,
h1 a
{
	font-size:50px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h2,
h2 a
{
	font-size:40px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h3,
h3 a
{
	font-size:28px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h4,
h4 a
{
	font-size:20px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h5,
h5 a
{
	font-size:18px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

h6,
h6 a
{
	font-size:14px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

div.subheader,
div.subheader b,
div.subheader strong
{
	font-size:20px;
}
}

@media only screen  and (min-width:480px) and (max-width:767px)
{

a.link-button
{
	font-size:20px;
}
}

@media only screen  and (max-width:479px)
{

a,
body,
input,
label,
textarea,
.nostalgia-accordion.ui-widget,
.nostalgia-accordion.ui-widget p
{
	font-size:13px;
}
}

@media only screen  and (max-width:479px)
{

h1,
h1 a
{
	font-size:40px;
}
}

@media only screen  and (max-width:479px)
{

h2,
h2 a
{
	font-size:30px;
}
}

@media only screen  and (max-width:479px)
{

h3,
h3 a
{
	font-size:24px;
}
}

@media only screen  and (max-width:479px)
{

h4,
h4 a
{
	font-size:18px;
}
}

@media only screen  and (max-width:479px)
{

h5,
h5 a
{
	font-size:16px;
}
}

@media only screen  and (max-width:479px)
{

h6,
h6 a
{
	font-size:14px;
}
}

@media only screen  and (max-width:479px)
{

div.subheader,
div.subheader b,
div.subheader strong
{
	font-size:18px;
}
}

@media only screen  and (max-width:479px)
{

a.link-button
{
	font-size:16px;
}
}


div.navigation-bar li
{
	background-color:rgba(0,0,0,0.4);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66000000,endColorstr=#66000000);
}

div.navigation-bar li.visible
{
	background-color:rgba(0,0,0,1);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff000000);
}

div.navigation-bar li:hover
{
	background-color:rgba(255,192,0,1);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc000,endColorstr=#ffffc000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc000,endColorstr=#ffffc000);
}

div.navigation-bar li.selected
{
	background-color:rgba(255,192,0,1);
	zoom:1;
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc000,endColorstr=#ffffc000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffc000,endColorstr=#ffffc000);
}

				div.navigation-bar ul li,
				div.navigation-bar ul li a
				{
					transition:all 0.3s ease-in-out;
					-o-transition:all 0.3s ease-in-out;
					-ms-transition:all 0.3s ease-in-out;
					-moz-transition:all 0.3s ease-in-out;
					-webkit-transition:all 0.3s ease-in-out;  
				}				
			